{% load widget_tweaks %}

<div class="md-form my-2 my-sm-3 {{ class_group|default_if_none:"" }}">
    <label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}</label>
    {{ field |add_class:"form-control"|add_error_class:"is-invalid"}}
    <div class="text-left">
        <div class="invalid-feedback">
            {{field.errors}}
        </div>
        
        {% if "<ul>" in field.help_text %}
            <a data-toggle = "collapse" data-trigger="switch" href = "#help_{{ field.id_for_label }}"><small class="form-text switch">Less info</small><small class="form-text switch show">More info</small></a>
            <small id="help_{{ field.id_for_label }}" class="form-text text-muted collapse">{{ field.help_text }}</small>
        {% else %}
            <small id="help_{{ field.id_for_label }}" class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
    </div>
</div>