{{% extends "email_basic.html" %}}

{{% block content %}}

    <div>
        <p>You have recently made a request to reset your password for {{site}}.</p>
        <p>Please confirm by clicking this button or Copy-Paste the link into your favorite browser:</p>
    
        <div>
            <button> Confirm reset </button>
            <u>or</u>
            <a href="{% url '' token= %}">{% url ' ' token= %}</a>
        </div>
    
        <p> If you didn't request a password reset, please ignore this message. </p>
        <p>Password reset are only available for {{time}}.</p>
    </div>
    
{{% endblock %}}


