{% extends "registration/base.html" %}

{% block content_title %}{% block title %}Reset password{% endblock %}{% endblock%}

{% block content %}
  {% if validlink %}
    <p>Please enter (and confirm) your new password.</p>
    <form action="" method="post">
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
        {{ hidden_field }}
      {% endfor %}

      {% for field in form.visible_fields %}
        {% include 'fields/base.html' field=field %}
      {% endfor %}

      <div class="pt-4">
        {% include 'fields/button/submit.html' with message="Confirm new password" %}
      </div>
    </form>
  {% else %}
      <h4>Failed</h4>
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}
{% endblock %}