{% extends "registration/base.html" %}  
  
{% block content_title %}{% block title%}Reset password{% endblock %}{% endblock %}

{% block content %}
  <form method="post" novalidate>
      {% csrf_token %}

      {% for hidden_field in form.hidden_fields %}
                  {{ hidden_field }}
      {% endfor %}
      
      <p>Enter your email address and we will send you a link to reset your password.</p>
      {% for field in form.visible_fields %}
            {% include 'fields/base.html' with field=field %}
      {% endfor %}

    <div>
        {% include 'fields/button/submit.html' with message="Reset my password"%}
    </div>
  </form>
{% endblock %}