{% extends 'registration/base.html' %}

{% block content_title %}{% block title %}Sign Up{% endblock %}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        {% include 'fields/button/link/icon.html' with class="fab fa-2x fa-google" %}
        {% include 'fields/button/link/icon.html' with class="fab fa-2x fa-facebook" %}
    </div>
    <hr/>
    <form method="post" novalidate>
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

		<div class="form-row">
			<div class="col">
				{% include 'fields/base.html' with field=form.first_name%}
			</div>

			<div class="col">
				{% include 'fields/base.html' with field=form.last_name %}
			</div>
		</div>

		{% include 'fields/base.html' with field=form.username class_group="mt-0" %}

		{% include 'fields/base.html' with field=form.email class_group="mb-0" %}

		<div class="form-row">
			<div class="col">
				{% include 'fields/base.html' with field=form.password1 %}
			</div>
			<div class="col">
				{% include 'fields/base.html' with field=form.password2 %}
			</div>
		</div>

        <div class="pt-2">
			{% include 'fields/button/submit.html' with message="Sign Up" %}
		</div>
    </form>
{% endblock %}