{% extends 'registration/base.html' %}

{% block content_title %}{% block title %}Register{% endblock %}{% endblock %}

{% block content %}
    <div class="d-sm-inline-flex" style="width: 18rem;">
        <p>An email was sent to {{ email }}. You need to activate your email to be logged.</p>
        <p>Also, it is possible that some feature will be deactivated. Some feature are disable because we have a limit of place and it's made for our community.</p>
        <p>For more detail, please refer to lan... or our facebook page.</p>
        <p>Have fun!</p>
    </div>
{% endblock %}