{% extends "email_basic.html" %}

{% block content %}

    {% url 'password_reset_confirm' uidb64=uid token=token as confirm_url %}

    <div>
        <p>You have recently made a request to reset your password for {{site_name}}.</p>
        <p>Please confirm by clicking or Copy-Paste this link:</p>
    
        <div>
            {{ protocol }}://{{ domain }}{{ confirm_url }}
        </div>
    
        <p> If you didn't request a password reset, please ignore this message. </p>
    </div>
    
{% endblock %}


